@import 'tailwindcss';

:root {
	--blue: #0a0192;
	--neutral: #eaeaea;
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/VT323.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	/* Simulate scan lines using blue tones */
	background: linear-gradient(
		to top,
		var(--blue),
		var(--blue),
		color-mix(in srgb, var(--blue) 70%, black),
		color-mix(in srgb, var(--blue) 70%, black)
	);
	background-size: 100% 1px;
	background-repeat: repeat-y;
	@apply bg-[var(--blue)];
}

body {
	font-family: 'VT323', monospace;

	/* Toned-down CRT flicker */
	animation: textflicker 1s infinite alternate ease-in-out;

	@apply max-h-screen px-6 text-4xl text-[var(--neutral)] uppercase md:text-6xl lg:text-8xl;
}

::selection {
	@apply bg-[var(--neutral)] text-[var(--blue)];
}

a {
	@apply underline outline-none hover:bg-white hover:text-[var(--blue)] active:bg-white active:text-[var(--blue)];
}

li.active > a {
	@apply bg-white text-[var(--blue)];
}

.link.active::before {
	@apply mr-3 -ml-8 content-['▸'] lg:mr-2 lg:-ml-16;
}

#flicker-line {
	@apply pointer-events-none fixed top-0 left-0 z-10 h-0.5 w-full bg-white opacity-0 mix-blend-screen transition-opacity duration-75 ease-in-out;
}

/* Subtle CRT flicker animation */
@keyframes textflicker {
	from {
		text-shadow:
			0.5px 0 0 #ea36af,
			-0.5px 0 0 #75fa69;
	}
	to {
		text-shadow:
			1px 0.5px 1px #ea36af,
			-1px -0.5px 1px #75fa69;
	}
}
