@import 'tailwindcss';

:root {
	--blue: #0a0192;
	--neutral: #cccccc;
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/VT323.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html: {
	@apply bg-[var(--blue)];
}

body {
	font-family: 'VT323', monospace;
	@apply min-h-screen bg-[var(--blue)] px-6 text-4xl text-[var(--neutral)] uppercase md:text-6xl lg:text-8xl;
}

::selection {
	@apply bg-[var(--neutral)] text-[var(--blue)];
}

a {
	@apply underline outline-none hover:bg-white hover:text-[var(--blue)] active:bg-white active:text-[var(--blue)];
}

li.active > a {
	@apply bg-white text-[var(--blue)];
}
